body
{
  margin: 0px;
  background-color: #4d394b;
}

section
{
  border-radius: 10px;
  background-color: #E6E6E6;
  width: 70em;
  height: 40em;
  margin: auto;
  padding: 100px;
  border: 1px solid black;
}

#menu-bar
{
  width: 100%;
  padding: 8px 6px 4px 6px;
  margin: 0px;
  height: 40px;
  line-height: 100%;
  border-radius: 5px;
  background: #4c9689;
  position: absolute;
}

#menu-bar li
{
  margin: 0px 0px 6px 0px;
  padding: 1px 6px 0px 6px;
  float: left;
  position: relative;
  list-style: none;
  background: #4c9689;
}

#menu-bar a
{
  font-weight: normal;
  font-family: 'comic sans ms';
  font-style: oblique;
  font-size: 1.3vw;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin-bottom: 6px;
}

#menu-bar .active a, #menu-bar li:hover > a
{
  background: #4c9689;
  color: #444444;
}

#menu-bar ul li:hover a, #menu-bar li:hover li a
{
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
}

#menu-bar ul a:hover
{
  color: #FFFFFF !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

#menu-bar li:hover > ul
{
  display: block;
}

#menu-bar ul
{
  background: #4c9689;
  display: none;
  width: 185px;
  position: absolute;
  border: none;
  border-radius: 10px;
}

#menu-bar ul li
{
  float: none;
}

#menu-bar ul a
{
  padding:10px 0px 10px 15px;
  color:#424242 !important;
  font-size:12px;
  font-style:normal;
  font-family:'comic sans ms';
  font-weight: normal;
}


#menu-bar
{
  display: inline-block;
}

#logform
{
  display: inline-block;
  top: 10px;
  margin-left: 70%;
  position: relative;
}

#no_inscript
{
  position: relative;
  display: inline-block;
  font-weight: normal;
  font-family: 'comic sans ms';
  font-style: oblique;
  font-size: 1vw;
  text-decoration: none;
  color: #FFFFFF;
}

#logbarre
{
  border: none;
  border-radius: 3px;
}

#button
{
  border: none;
  border-radius: 3px;
  background-color: #edb431;
}

table
{
  text-align: center;
  border-collapse: separate;
  border-spacing: 10px 1px;
}

td
{
  border-radius: 5px;
  line-height: 0;
  text-align: center;
  padding: 5px;
  border: 2px solid #BDBDBD;
  background-color: white;
}

.error1
{
  font-size: 0.8em;
  color: white;
}

.error2
{
  text-align: center;
}

#shop td
{
  border: 2px solid #BDBDBD;
  padding: 20px;
  border-collapse: separate;
  border-spacing: 20px 5px;
}


