*
{
	margin: 0;
	padding: 0;
}

@font-face
{
	font-family: "Wolf in the City";
	src: url('fonts/Wolf in the City.ttf');
}

html, body
{
	height: 100%;
	font-family: "Wolf in the City", Arial, Verdana;
	color: white;
}

body
{
	background-image: url('img/home.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

a
{
	color: white;
	text-decoration: none;
}

.opacity_effect
{
	height: 100%; width: 100%;
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: forwards;
	animation-name: fadein;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

@-webkit-keyframes fadein
{
	from {background-color: rgba(0,0,0,0);}
	to {background-color: rgba(0,0,0,0.75);}
}

@keyframes fadein
{
	from {background-color: rgba(0,0,0,0);}
	to {background-color: rgba(0,0,0,0.75);}
}

table, .social_icons
{
	opacity: 0;
	-webkit-animation-name: display;
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: forwards;
	animation-name: display;
	animation-duration: 1s;
	animation-delay: 2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

@-webkit-keyframes display
{
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes display
{
	from {opacity: 0;}
	to {opacity: 1;}
}

.navblock
{
	position: relative;
	top: calc(50% - 224px);
	width: 456px;
	margin: 0 auto 0 auto;
}

.logo
{
	display: block;
	width: 308px;
	margin: 0 auto 0 auto;
}

table tr td
{
	width: 152px;
}

table tr td a
{
	font-size: 60px;
}

table tr td
{
	text-align: center;
}

table tr td img
{
	position: relative;
	top: -17px;
}

.underline1
{
	opacity: 0;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.underline2
{
	opacity: 0;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.underline3
{
	opacity: 0;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

table tr td:hover .underline1
{
	opacity: 1;
}

table tr td:hover .underline2
{
	opacity: 1;
}

table tr td:hover .underline3
{
	opacity: 1;
}

.social_icons
{
	position: absolute;
	bottom: 50px;
	left: calc(50% - 36px);
	text-align: center;
}
